/node_modules
/public/storage
/storage/*.key
/vendor/*
!/vendor/laravel/framework/src/Illuminate/Support/Facades/Auth.php 
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.ideagit commit -m 
/.vscode

